html,
body {
    margin: 0%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.containerP {
    display: flex;
}

#titres {
    margin: auto;
}

#moncercle {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
    margin: auto;
}

#id {
    margin-top: 10%;
    max-width: 100%;
    max-height: 100%;
}

#portfolio {
    width: 50%;
    background-color: #21a1eb;
}
#child1 {
    width: 50%;
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);

    border-radius: 3%;
    border-color: black;
    margin: 1%;
    padding: 1rem;
}
#Présentation {
    margin: 5%;
}

#Stack {
    margin: 1%;
}
table,
caption,
thead,
tr,
th,
tbody,
td {
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 0.5em;
    text-align: center;
    margin: auto;
}

#contain-social {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.social {
    width: 2em;
    height: 2em;
    margin: 1em;
}

#portfolio {
    display: flex;
    padding: 1%;
}
h4 {
    text-align: center;
    margin: auto;
}
iframe {
    margin-top: 1%;
    border-radius: 1em;
}
.container-site {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
    margin: 1%;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}
.container-site p {
    text-align: justify;
}
