html,
body {
    margin: 0%;
    background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

.container {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
}

.containerP {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#titres {
    margin: auto;
}

#moncercle {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
    margin: auto;
}

#id {
    margin-top: 10%;
    max-width: 100%;
    max-height: 100%;
}

#child1 {
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
    border-radius: 3%;
    margin: 1%;
    padding: 1rem;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.8);
}
#Présentation {
    margin: 5%;
}

#Stack {
    margin: 1%;
}
table,
caption,
thead,
tr,
th,
tbody,
td {
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 0.5em;
    text-align: center;
    margin: auto;
}

#contain-social {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.social {
    width: 2em;
    height: 2em;
    margin: 1em;
}

#portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
h4 {
    text-align: center;
    margin: auto;
}
iframe {
    margin-top: 1%;
    border-radius: 1em;
}
.container-site {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.8);
    border-radius: 3rem;
    margin: 1%;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.1);
}

.container-site p {
    text-align: justify;
    width: 300px;
}
#container_port {
    text-align: center;
    /* background-color: #21a1eb; */
    background-image: linear-gradient(
        -225deg,
        #5d9fff 0%,
        #b8dcff 48%,
        #6bbbff 100%
    );
    border-radius: 3%;
    margin: 1%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.8);
}

.image {
    width: 300px;
    height: 205px;
    max-width: 100%;
    border-radius: 3%;
}
